.note-page-background {
	position: absolute;
	margin: auto 10px;
	width: auto;
	background-color: #1a1a1a;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.note-page-container {
	left: 15%;
	position: absolute;
	width:100%;
	height: 100%;
	border-right: 1px solid white;
	display: flex;
	overflow-x: hidden;
	overflow-y:hidden;
}

.note-side-bar {
  width: 20%;
  /* height: 100vh; */
  border-right: 0.25px solid white;
	scroll-padding-bottom: 12em;}

.note-page-edit-form {
  width: 55%;
}

.note-page-edit-form-layout {
  padding: 10px;
}

.note-page-edit-form-layout input {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 113.5%;
  padding: 10px;
}

.react-quill {
	display: block;
	color: white;
  width: 115%;
	height: 100%;
}

.note-page-edit-form-layout input {
  height: 50px;
  font-size: 50px;
}

.note-content {
	position: relative;
	color: rgba(228, 228, 228, 0.671);
	word-break: break-all;
	max-width: 400px;
	width: 90%;
	left: 10px;
}
.note-time {
	position: relative;
	border-bottom: 1px solid #3a3939;
	color: rgba(255, 255, 255, 0.835);
	word-break: break-all;
	max-width: 450px;
	width: 100%;
}


.note-page-note-counter {
	color: white;
	display: flex;
	flex-direction: row;
}

.note-page-delete:hover,
.note-page-edit:hover {
	cursor: pointer;
	color: gray;
}

.notes-container {
	display: flex;
	justify-content: space-between;
    align-items: space-between;
	flex-direction: row;
}


.note-page-edit-modal {
	flex-direction: column;
	grid-gap: 25px;
	gap: 25px;
	border-radius: 5px;
	overflow-y: scroll;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 40%;
	background-color: #111111;
	color: white;
	border: 1px solid #007720;
	z-index: 2;
}
/*
.note-page-edit-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 500px;
	width: 540px;
	background-color: #111111;
	border: 1px solid #007720;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	z-index: 1;
	color: white;
} */

.quill{
	color: white;
	height: 40em;
	/* height: 100%; */
}

.selected-note.active {
  background: gray;
}


.cancel-button-new-not {
	background-color: #111111;
	width: 60px;
	height: 25px;
	color: white;
	border-radius: 5px;
	font-size: 13px;
	border: 1px solid white;
	position:absolute;
	bottom: 5%;
	left:32%;
	z-index: 50;
}


.cancel-button-new-not:hover {
	cursor: pointer;
	background-color: gray;
}

.save-button-notes-page {
	background-color: #111111;
	width: 60px;
	height: 25px;
	color: white;
	border-radius: 5px;
	font-size: 13px;
	border: 1px solid white;
	position:absolute;
	bottom: 5%;
	left:80%;
	z-index: 50;
}

.save-button-notes-page:hover:enabled,
.cancel-button-new-note:hover {
    cursor: pointer;
    background-color: gray;
}

.save-button-notes-page[disabled]{
	background-color: transparent;
	color: gray;
	border: 1px solid gray;
}


.notes-scrollbar {
  height: 98.5%;
  overflow-y: scroll;
	padding-bottom: 10px;
}
