.note-page-container {
	left: 300px;

	position: absolute;
}
.server_name_bottom_bar {
	border-bottom: 1px solid gray;
	transform: translate(0%, 0%);
}
.note-content {
	left: 50px;
	position: relative;
}