.note-page-container {
	left: 300px;
	/* background-color: #1a1a1a; */
	position: absolute;
	z-index: -1;
}
.note-page-container > h1{
	color: white;
}

.note-content {
	position: relative;
	border-bottom: 1px solid #262626;
	color: rgba(255, 255, 255, 0.835);
	word-break: break-all;
	max-width: 450px;
	width: 100%;
}

.note-page-background {
	position: absolute;
	margin: auto 10px;
	width: auto;
	background-color: #1a1a1a;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	right: 0;
}
.note-page-note-counter {
	color: white;
}

.note-page-delete:hover,
.note-page-edit:hover {
	cursor: pointer;
	color: gray;
}

.notes-container {
	display: flex;
	justify-content: space-between;
}