.new-notebook-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
	width: 540px;
    background-color: #111111;
    border: 1px solid #007720;
    display: flex;
	flex-direction: column;
    align-items: center;
	border-radius: 5px;
    display: flex;
	flex-direction: column;
    z-index: 9999;
    color: white;

}
.new-notebook-button {
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    z-index: 2;
    width: 95%;
    cursor: pointer;
    color: white;
    background-color: #00a82d;
}

.new-notebook-button:hover {
    background-color: #007720;
}

.plus-icon {
    margin-right: 200px;
}
.new-notebook-button-text {
    position: absolute;
    right: 200px;
    top:85px;
    left:15%;
}

.errors {
    color:white;
    z-index: 0;
}

.new-notebook-modal-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

.new-notebook-modal-title-1 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
}

.new-notebook-modal-cancle-button {
    background-color: #111111;
	border-color: white;
	width: 60px;
	height: 25px;
	color: white;
	border-radius: 5px;
	font-size: 13px;
	position:absolute;
    bottom: 5%;
    left:70%;
}
.new-notebook-modal-create-button {
    background-color: #111111;
	border-color: white;
	width: 60px;
	height: 25px;
	color: white;
	border-radius: 5px;
	font-size: 13px;
	position:absolute;
    bottom: 5%;
    left:85%;
}

.new-notebook-modal-create-button:hover,
.new-notebook-modal-cancle-button:hover {
    cursor: pointer;
    background-color: gray;
}


.new-notebook-modal-create-button[disabled]{
    background-color: transparent;
    color: gray;
    border: 1px solid gray;
}
.new-notebook-modal-create-button:hover:enabled {
    cursor: pointer;
    background-color: gray;
}
