.log-in-page-background {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  min-height: 100%;
  min-width: 1024px;
}

.log-in-page-form-position,
.sign-up-page-form-position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up-border {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -15px;
    padding: 100px 75px;
    border-radius: 3px;
}

.icon-log-ing-page {
    height: 100px;
    width: 100px;
}

.demo-sign-in-button,
.sign-in-button {
  height: 40px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 2;
  width: 100%;
  cursor: pointer;
  color: white;
  background-color: #00a82d;
}
.or-line{
  color: gray;
}