.edit-notebook-page-background {
  position: absolute;
  margin: auto 10px;
  width: auto;
  background-color: #1a1a1a;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  right: 0;
}

.edit-notebook-page-content{
    position: relative;
	left: 300px;
    right: 300px;
	color: white;
    overflow-y: hidden;
}

.edit-notebook-page-content h1{
    text-align: center;
    width: 60%;
    text-transform: uppercase;
}

.input-control {
    margin: 1rem;
}

.edit-single-note-form {
    flex: auto;
    justify-content: right;

}

.home-body {
    width: 80%;
}

.box{
    border: 2px solid white;
    height: 500px;
    word-break: break-all;
    width: 60%;
}