.test_container {
    display: flex;
}


.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    flex:0.25;
    background-color: #2f3136;
    z-index: -2;
}

.above {
    z-index: -2;
}
.current-user-on {
	background-color: navajowhite;
	/* display: flex; */
	/* justify-content: space-around; */
	/* align-items: center; */
	/* position: absolute; */
	left: 100px;
	z-index: -12;
	bottom: 0px;
	/* height: 75px; */
	width: 250px;
	display: flex;
	font-size: 20px;
	font-weight: bolder;
}


.side_bar_main {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 233px;
	height: 100%;
	background-color: white;
}
.align_the_side_bar {
	flex: 1;
}

.main-container {
	left: 300px;
	position: absolute;
}

.homepage-main-container, 
.landing-page {
	background-color: #d1b8b8;
	left: 250px;
	position: absolute;
}
