.notebook-page-background {
  position: absolute;
  margin: auto 10px;
  width: auto;
  background-color: #1a1a1a;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  right: 0;
}

.note-page-container > h1 {
  color: white;
  
}

.middle-content {
  display: flex;
  border-bottom: 1px solid white;
}
.middle-content:hover {
  cursor: pointer;
}

.notebook-counter {
  color: white;
}

.notes-display-font {
  color: white;
}
.note-page-container {
  position: relative;
  margin: auto 10px;
  width: auto;
	top: 0;
	bottom: 0;
	left: 0;
  z-index: 1;
	right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.note-page-container::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}



.fa-edit, 
.fa-trash-o, 
.fa-angle-down,
.fa-angle-right
{
  color: white;
}





.tableContainer {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  color: white;
}

.table {
  width: 100%;
  border: thin solid white;
  padding: 0.35rem;
  border-radius: 0.25rem;
}

.thead th {
  border-bottom: thin solid white;
  padding: 0.35rem;
}

.tbody td {
  padding: 0.35rem;
}


.notebook-page-click-toggle {
  display: flex;
  text-decoration: none;
}
.notebook-page-click-toggle:hover {
  background-color: gray;
}


.notebook-page-click-toggle-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.notebook-text, 
.notebook-text-display, 
.notebook-page-click-toggle{
  color: white;
  text-decoration: none;
}


.edit-comment-errors {
  color: white;
  z-index: 50000;
}

.new-note-button {
  color: #00a82d;
  z-index: 500;

}
.new-note-button:hover {
  cursor: pointer;
  color: #028324;
}

.line {
  max-width: 1200px;
    border-bottom: 3px solid white;
    margin: 0 auto;
    width: 100%;
    text-decoration: none;
}